.app-title
{
    margin-top: 20px;
    font-size: 3rem;
    margin-bottom: -20px;
}

.app-version
{
    font-size: 0.8rem;
    margin-bottom: -10px;
}

.updates
{
    margin-bottom: 20px;
}

.update-title {
    color: #ffc107;
    font-size: 2.9rem;
    margin-top: 25px;
    margin-bottom: 0%;
    text-decoration: none;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
}

.update-title:hover {
	color:#ffc107;
	text-shadow:0px 0px .01em #d84315;
    opacity: .8
}

.update-item {
    padding-left: 5px;
    padding-bottom: 10px
}

.update-content {
    color: #FFF;
    white-space: pre-wrap;
}

.update-gametitle
{
    padding-top: 0px;
    padding-left: 10px;
}

.update-timestamp i
{
    color: #ffc107;
}

.update-gametitle i
{
    color: #ffc107;
}

.material-icons
{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 2rem;
    margin-right: 7px;
    display: inline-flex;
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}