<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showNavBar" class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo waves-effect waves-light">{{ title }}</a>
      <a href="#" data-target="mobile-navbar" class="sidenav-trigger waves-effect waves-light"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="waves-effect waves-light">Home</a></li>
        <li
        routerLinkActive="active">
        <a routerLink="/app" class="waves-effect waves-light">Apps</a></li>
        <li
        routerLinkActive="active">
        <a routerLink="/updates" class="waves-effect waves-light">Updates</a></li>
        <li
        routerLinkActive="active">
        <a routerLink="/about" class="waves-effect waves-light">About</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-navbar">
    <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/" class="sidenav-close waves-effect waves-light">Home</a></li>
    <li
    routerLinkActive="active">
    <a routerLink="/app" class="sidenav-close waves-effect waves-light">Apps</a></li>
    <li
    routerLinkActive="active">
    <a routerLink="/updates" class="sidenav-close waves-effect waves-light">Updates</a></li>
    <li
    routerLinkActive="active">
    <a routerLink="/about" class="sidenav-close waves-effect waves-light">About</a></li>
  </ul>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>