/* You can add global styles to this file, and also import other style files */

div.sidenav-overlay
{
    z-index: 996;
}

div.navbar-fixed
{
    z-index: 997;
}

a.brand-logo
{
    padding-left: 10px;
    padding-right: 10px;
}