/* You can add global styles to this file, and also import other style files */

/* CSS Animations */
@keyframes fadeinbg
{
	from
	{
		opacity:0;
	}
	to
	{
		opacity:0.4;
	}
}
@keyframes fadeinmain
{
	from
	{
		opacity:0;
	}
	to
	{
		opacity:1;
	}
}

a
{
	text-decoration:none;
	transition:all 250ms ease;
	-webkit-transition:all 250ms ease;
	-moz-transition:all 250ms ease;
	-o-transition:all 250ms ease;
	-ms-transition:all 250ms ease;
}
a:hover
{
	color:#ffc107;
	text-shadow:0px 0px .01em #d84315;
	opacity:0.8;
}

div.sidenav-overlay
{
    z-index: 996;
}

div.navbar-fixed
{
    z-index: 997;
}

a.brand-logo
{
    padding-left: 10px;
    padding-right: 10px;
}

.loader {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}